.socail-button{
    width: 40pt ;
    height: 30pt;
    color: grey;
    background-color: white;
    moz-border-radius:  5px; /* Firefox */
    webkit-border-radius:  5px; /* Safari 4 */
    border-radius:  5px; /* IE 9, Safari 5, Chrome */
    border-style: solid;
}
div{
    margin: 15px 15px 15px;
    color: grey;
}

.icon{
    box-sizing: border-box;
    border: 2px solid gainsboro;
    display: inline-block;
    padding: 10px;
    margin: 0px 0px 0px;
    height: 40px;
    border-right-width: 1px;
}

.input-field{
    padding: 10px;
    display: inline-block;
    margin: 0px 0px 0px;
    box-sizing: border-box;
    border: 2px solid gainsboro;
    outline: none;
    height: 40px;
    border-left-width: 1px;


}
.login-button{
    background-color: green;
    moz-border-radius:  5px; /* Firefox */
    webkit-border-radius:  5px; /* Safari 4 */
    border-radius:  5px; /* IE 9, Safari 5, Chrome */
    border: green solid;
    color: white;
    padding: 10px;
    width: 150px;
    height: 60px;
    margin-left: 37pt;


}
.line {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: gainsboro;
}
.line span {
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    padding: 0px 20px;
}
.line:after {
    content: '';
    display: block;
    width: 94%;
    height: 2px;
    background-color: #262626;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 0;
}
.login-menu{
    margin: auto;
    padding: auto;
    display: inline-block;
    vertical-align: middle;
    width: 300pt;

}

.picture{
    margin: auto;
    display: inline-block;
    width: 200pt;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color:  grey;
}


